<h1><%= @post.name %></h1>

<h5>
  <%= @post.user.email %> posted
  <%= time_ago_in_words(@post.created_at) %> ago
</h5>

<%= render "post_toolbar", 
  object: @post, 
  route: [@region, @category, @post], 
  edit_route: edit_region_category_post_path(@region, @category, @post),
  spam_route: [@region, @category, @post, :spam] %>

  <%= render "link_path", region: @region, category: @category %>

  <p><%= @post.body %></p>
