<h1>Sign up</h1>
<%= form_for :users do |form| %>

  <% if user.errors.any? %>
    <%= pluralize(user.errors.count, "error") %> prevented your account from being created:
    <ul>
      <% user.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "Password" %>
  </div>
  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>
